<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div style="background: #dedede; margin: 0px; padding: 7px; text-align: center;">
            <a href="{{path("coderslab_usergroup_postindex")}}">Posts</a> |
            <a href="{{path("coderslab_usergroup_userindex")}}">Users</a> |
            <a href="{{path("coderslab_usergroup_groupindex")}}">Groups</a>
        </div>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
