{% extends 'base.html.twig' %}

{% block body %}
    <fieldset>
        <legend>Posts:</legend>
        {% for post in posts %}
            <a href="{{path("showPost",{"id":post.id})}}">{{ post.title }}</a><br/>
        {% else %}
            [empty]
        {% endfor %}
    </fieldset>
{% endblock %}
